
<!-- Image Tiles -->
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-sm-4 cell" style= "background-image: url(<%= post.img_link%>)">
      <%= link_to "", post %>
    </div>
    <% end %>
  </div>
</div>
